@font-face {
    font-family: "MinecraftTenv2";
    src: url("fonts/Minecraft-Tenv2.woff");
}

@font-face {
    font-family: "MinecraftTen";
    src: url("fonts/MinecraftTen.woff");
}

@font-face {
    font-family: "MinecraftSevenV2";
    src: url("fonts/Minecraft-Seven_v2.woff2");
}

/*
potential color palette?: https://coolors.co/fadc00-f8f9fa-b388eb-8093f1-3a3042
*/

* {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(248, 249, 250);
}

html {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
}

.upload_header {
    position: relative;
}

header div.base {
    padding-top: 30px;
    padding-bottom: 10px;
}

div.base {
    position: relative;
    width: 100%;
}

div.base div.base_inner {
    position: relative;
    width: 1296px;
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

div.brand_name h1 {
    display: inline-block;
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2.2rem;
    color: black;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

div.brand_name span {
    display: block;
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
}

div.body div.base {
    padding-bottom: 3rem;
    padding-right: 0;
    padding-left: 0;
    border: 0;
}

div.base {
    padding-top: 2rem;
}

@media only screen and (min-width: 768px) {
    div.base {
        padding-top: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    div.body div.base {
        padding-bottom: 1rem;
    }
}

div.easysheet_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

div.easysheet_flex div.easysheet_body {
    width: 1296px;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

div.easysheet_info {
    z-index: 1;
    grid-column: span 2 / span 2;
}

@media only screen and (min-width: 768px) {
    div.grid_col_3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    div.grid_col_1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    div.main_file_selector {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 8rem;
    }
}

div.easysheet_flex div.easysheet_info {
    padding: 0 2rem;
}

div.easysheet_flex div.intro_container {
    position: relative;
    max-width: 100%;
}

/*
The big text
*/
div.easysheet_flex div.intro_container p {
    font-size: 3rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
}

@media only screen and (min-width: 1200px) {
    div.easysheet_flex div.intro_container p {
        font-size: 3.75rem;
    }
}

div.keyinfo p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

div.keyinfo {
    padding: 0.25rem 0.5rem;
    background-color: rgb(250, 220, 0);
    border-radius: 0.75rem;
    align-items: center;
    width: fit-content;
    display: flex;
    margin-bottom: 1.8rem;
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.material-symbols-outlined {
    transform: translateY(19%);
}

span.font_bold {
    font-weight: 700;
}

div.grid {
    display: grid;
}

@media only screen and (min-width: 768px) {
    div.easysheet_features {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

div.easysheet_features {
    margin-top: 3rem;
    font-size: 18px;
}

div.gap {
    gap: 0.5rem;
}

div.flex_row {
    flex-direction: row;
}

div.flex {
    display: flex;
}

div.main_file_selector {
    text-align: center;
    align-items: center;
    padding: 0 2rem;
    /* width: 45%; */
}

div.dragDrop {
    position: relative;
    height: 100%;
    border-radius: 1.5rem;
    border: 2px dashed #000000;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
    flex-direction: column;
}

/* Only when user is dragging zip file
div.dragDrop:hover {
    background: grey;
} */

div.dragDrop p {
    padding: 0;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: 20px;
}

input.file_upload {
    overflow: hidden;
    cursor: pointer;
    background: #29b586;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin: 1rem 0.5rem;
    width: fit-content;
    max-width: 100%;
}

input.file_upload:hover {
    background: #65cca9;
}

div.moreinfo_area div.moreinfo_inner {
    position: relative;
    width: 1296px;
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

div.moreinfo_area {
    margin-bottom: 4rem;
}

div.moreinfo p {
    font-size: 1.5rem;
}

div.moreinfo {
    background: #edf0f2;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.75rem;
    padding: 1rem;
    flex-wrap: wrap;
}

img.creeperhead {
    width: 80px;
    border-radius: 0.25rem;
}

img.github_logo {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    line-height: 1;
}

a {
    display: flex;
    justify-content: center;
}

div.github_info {
    color: black;
}

div.github_info p {
    font-weight: 700;
    line-height: 1;
    margin: auto 0;
    font-size: 1.5rem;
}

div.shortcuts p {
    font-weight: 500;
    line-height: 1;
    font-size: 1.5em;
}

span.code_box {
    display: inline-block;
    margin: 2px;
    padding: 3px 6px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-family: monospace;
    background-color: #f0f0f0;
}

.flex {
    display: flex;
}

.top_bar_thingy {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 1rem 0.5rem 1rem;
    height: 4rem;
    color: #1d1d1d;
    font-size: 2vmin;
    background-color: #ddedfa;
    background-size: 100% 100%;
    border: #4ba1f1;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.225rem;
    /* box-shadow: ; */
}
.top_bar_thingy * {
    margin: 0px;
    padding: 0px;
}

.top_bar_thingy button {
    height: 2.5rem;
    background-color: #5868b6;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    /* color: #ffffff; */
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 5px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 9999;
}

.top_bar_thingy button:after {
    background-clip: padding-box;
    background-color: #8093f1;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.top_bar_thingy button:main,
button:focus {
    user-select: auto;
}

.top_bar_thingy button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.top_bar_thingy button:disabled {
    cursor: auto;
}

.top_bar_thingy button:active:after {
    border-width: 0 0 0px;
}

.top_bar_thingy button:active {
    padding-bottom: 10px;
}

.box_area {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchingSection {
    position: relative;
    width: 25vw;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    div.counterArea div.counterBox h2 {
        width: 80px;
    }
}

.counterArea .counterBox h2 {
    line-height: 1.1;
    font-family: Arimo;
    font-size: 20px;
}

.counterArea .counterBox p {
    font-family: sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    div.counterBox {
        width: 8rem;
        padding: 0.5rem 0.75rem;
        margin: 0rem 0.75rem 0.5rem 0.75rem;
    }
}

@media only screen and (min-width: 768px) {
    div.counterBox {
        width: 12rem;
        padding: 0.75rem 1rem;
        margin: 0rem 1.25rem 0.5rem 1.25rem;
    }
}

div.counterBox {
    /* width: 12rem; */
    /* padding: 0.75rem 1rem; */
    /* margin: 0.5rem 1.5rem; */
    background: white;
    border: #1d1d1d;
    color: #1d1d1d;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.225rem;
}

div.counterArea {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    div.menuArea {
        margin: 0.75rem 0rem;
    }
}

@media only screen and (min-width: 768px) {
    div.menuArea {
        margin: 2rem 0rem;
    }
}

div.menuArea {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

@media only screen and (max-width: 768px) {
    div.currentTextures {
        margin: 0rem 1rem;
    }
}

@media only screen and (min-width: 768px) {
    div.currentTextures {
        margin: 0rem 1.5rem;
    }
}

div.currentTextures {
    width: 22rem;
    height: 28rem;
    background: white;
    padding: 1rem 4.5rem;
    border: #1d1d1d;
    color: #1d1d1d;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.225rem;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    div.currentTextures h2 {
        font-family: Arimo;
        width: 100px;
    }
}

div.currentTextures h2 {
    font-family: Arimo;
}

@media only screen and (max-width: 768px) {
    div.groupSelection,
    div.searchingArea {
        margin: 0rem 1rem;
    }
}

@media only screen and (min-width: 768px) {
    div.groupSelection,
    div.searchingArea {
        margin: 0rem 1.25rem;
    }
}

div.menuAreaOther {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.groupSelection {
    width: 22rem;
    /* height: 12.5rem; */
    height: fit-content;
    margin-bottom: 1.5rem;
    background: white;
    padding: 1rem 1rem;
    border: #1d1d1d;
    color: #1d1d1d;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.225rem;
}

div.groupSelectionTitle {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}

div.toggleArea {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

div.groupSelectionTitle h2 {
    /* margin-right: 0%; */
    font-family: Arimo;
}

div.groupSelectionTitle div.toggleArea h3 {
    margin-right: 0.25rem;
    font-family: sans-serif;
    font-size: 1rem;
}

/* From Uiverse.io by AbanoubMagdy1 */
.switch {
    --circle-dim: 1.4em;
    font-size: 11px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: 0.4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: 0.4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: 0.4s transform;
}

.slider-card-front {
    background-color: #dc3535;
}

.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
    transform: translateX(1.5em);
}

input:checked ~ .slider {
    background-color: #9ed99c;
}

/* From Uiverse.io by vishnupprajapat */
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}

div.grouping {
    justify-content: flex-start;
}

div.column {
    flex-direction: column;
}

div.searchingArea {
    width: 22rem;
    margin-bottom: 1.5rem;
    height: 12.5rem;
    background: white;
    padding: 1rem 2rem;
    border: #1d1d1d;
    color: #1d1d1d;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.225rem;
    justify-content: center;
}

div.searchingArea h2 {
    font-family: Arimo;
}
