* {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(248, 249, 250);
}

html {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
}

.upload_header {
    position: relative;
}

header div.base {
    padding-top: 30px;
    padding-bottom: 10px;
}

div.base {
    position: relative;
    width: 100%;
}

div.base div.base_inner {
    position: relative;
    width: 1296px;
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

div.brand_name h1 {
    display: inline-block;
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2.2rem;
    color: black;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

div.brand_name span {
    display: block;
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
}

div.body div.base:first-child {
    padding-top: 8rem;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    /* margin-left: auto;
    margin-right: auto; */
}

div.base {
    padding: 60px 0;
}

div.easysheet_flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

div.easysheet_flex div.easysheet_body {
    width: 1296px;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

div.easysheet_info {
    z-index: 1;
    grid-column: span 2 / span 2;
}

@media (min-width: 768px) {
    div.grid_col_3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    div.grid_col_1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    div.main_file_selector {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 8rem;
    }
}

div.easysheet_flex div.easysheet_info {
    padding: 0 2rem;
}

div.easysheet_flex div.intro_container {
    position: relative;
    max-width: 100%;
    padding: 0 0 30px 0;
}

div.easysheet_flex div.intro_container p {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
}

div.keyinfo p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

div.keyinfo {
    padding: 0.25rem 0.5rem;
    background-color: rgb(250, 220, 0);
    border-radius: 0.75rem;
    align-items: center;
    width: fit-content;
    display: flex;
    margin-bottom: 1.8rem;
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.material-symbols-outlined {
    transform: translateY(19%);
}

span.font_bold {
    font-weight: 700;
}

div.grid {
    display: grid;
}

@media only screen and (min-width: 768px) {
    div.easysheet_features {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

div.easysheet_features {
    margin-top: 3rem;
    font-size: 18px;
}

div.gap {
    gap: 0.5rem;
}

div.flex_row {
    flex-direction: row;
}

div.flex {
    display: flex;
}

div.main_file_selector {
    text-align: center;
    align-items: center;
    padding: 0 2rem;
    /* width: 45%; */
}

div.dragDrop {
    position: relative;
    height: 100%;
    border-radius: 1.5rem;
    border: 2px dashed #000000;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div.dragDrop p {
    padding: 0;
    margin: 0;
    line-height: 1;
}
